<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.sgsgroup.com.br/-/media/global/images/structural-website-images/hero-images/hero-agri-appetizers.jpg">
  <div class="container">
    <h1>The best restaurants in one place</h1>
    <p>Everything you need for the best restaurant</p>
  </div>
   <p><%= link_to "Add new Restaurant", new_restaurant_path, class:" btn-my-primary" %> </p>
</div>


<div class="container">

</div>

<div class="container">
  <div class="content">
    <div class="content-flex">
      <% @restaurants.each do |restaurant|  %>
      <div class="content-box">
        <img class="grid-img" src="<%= restaurant.images %>">
      <p>  <%=link_to  restaurant.name, restaurant_path(restaurant) %> </p>
      </div>
    <% end %>
    </div>
  </div>
</div>
